[user]
	name = Nick A
	email = 226946345+acctux@users.noreply.github.com
	signingkey =

[credential]
	helper = cache
[commit]
	gpgSign = false
[credential "https://github.com"]
	helper = !/usr/sbin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/sbin/gh auth git-credential
[pull]
	rebase = true
